language: node_js
node_js:
  — 8.11.4
script:
  — echo "Deploy!!"
install:
  — npm install -g firebase-tools
after_success:
  — firebase deploy — project "school-testing-97c98" — token $FIREBASE_TOKEN